* {
  color: rgb(214, 209, 138);
}

body {
width: 800px;
height: 100vh;
text-align: center;
margin: auto;
background-color: rgb(120, 79, 65);
}

#artSpace {
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: rgb(152, 108, 106);
  border-radius: 20px;
}

#title {
  padding-top: 10px;
  font-size: 40px;
}

#color-palette {
  display: inline-flex;
}

#pixel-board {
  display: table;
  padding: 5px;
  margin: auto;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}

.row {
  display: table-row;
  padding: 0; 
}

.column {
  display: table-cell;
  padding: 0;
}

.color {
  width: 40px;
  height: 40px;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
}

input {
  width: 50px;
  height: 30px;
  background-color: rgb(212, 195, 194);
  color: rgb(120 , 79 , 65);
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: rgb(214, 209, 138);
  color: rgb(120 , 79 , 65);
  font-size: 20px;
  font-weight: bold;
  height: 40px;
}
