.color{
  border: 1px solid black;
  height: 40px;
  width:40px;
  display:inline-block;
}

.um{
  background-color: black;
}

.dois{
  background-color: gray;
}

.tres{
  background-color:white;
}

.quatro{
  background-color: red;
}

.pixel{
  border: 1px solid black;
  height: 40px;
  width:40px;
  display:inline-block;
  background-color: white;
  box-sizing: border-box;

}
#pixel-board {
  margin: 0 auto;
  text-align: center;
  line-height: 0px;
  margin-top: 30px;
}

#color-palette{
  text-align: center;
}

#title{
  text-align: center;
}

#botao{
  text-align: center;
  margin-top: 20px;
}

.linha{
  height: 40px;
}
