body {
  font-family: Helvetica, sans-serif, Arial;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.c1 {
  background-color: black;
}

.c2 {
  background-color: rgb(235, 7, 7);
}

.c3 {
  background-color: rgb(160, 34, 34);
}

.c4 {
  background-color: rgb(136, 207, 252);
}

table {
  border-collapse: collapse;
}

button {
  display: block;
}
table {
  margin-top: 5px;
}

th {
  width: 41px;
  height: 41px;
  border: solid black 1px;
  margin: 0;
  background-color: white;
}

input {
  margin-top: 5px;
}

#generate-board {
  display: inline;
}

#board-size[type='number'][min='1']