@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
}

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 200%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/*Cabeçalho */
#head {
  margin-top: -38px;
  width: 100%;
}

#title {
  text-align: center;
  font-family: Pacifico, cursive;
  color: white;
  font-size: 3.5rem;
  font-weight: normal;
  background: linear-gradient( 225deg, rgba(255, 153, 102, 1) 0%, rgba(255, 94, 98, 1) 100% );
  border-bottom: 5px solid white;
}

/*End Cabeçalho */
/*Article */
#color-palette {
  width: 100%;
  text-align: center;
}

.color {
  height: 60px;
  width: 60px;
  border: 1px solid black;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
}

/*End Article */

/*Pixel Board */
#table-row {
  margin: 15px auto;
  border-collapse: collapse;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  height: 41px;
  width: 41px;
  cursor: cell;
}

/*End Pixel board */
/*Botao */
#clear-board {
  display: block;
  margin: 1rem auto;
  padding: 3px 20px;
  border: 2px solid white;
  border-radius: 20px;
  font-family: cursive;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

#clear-board:hover {
  background-color: lightyellow;
  cursor: pointer;
  border-radius: initial;
  border: 2px solid black;
}

/*End Botao */

/*Input board-size */
#board-size {
  margin: 10px auto;
  display: inline;
  padding: 10px;
}

.input {
  text-align: center;
}

#generate-board {
  display: inline-block;
  margin: 1rem auto;
  padding: 3px 20px;
  border: 2px solid white;
  border-radius: 20px;
  font-family: cursive;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

#generate-board:hover {
  background-color: lightyellow;
  cursor: pointer;
  border-radius: initial;
  border: 2px solid black;
}

/*End Input board-size */
