#color-palette .color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
}

#color-palette .black {
  background-color: black;
}

#color-palette .red {
  background-color: red;
}

#color-palette .purple {
  background-color: purple;
}

#color-palette .orange {
  background-color: orange;
}

#pixel-board {
  margin-top: 10px;
  display: table;
  border: 1px solid red;
}

#pixel-board .pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: table-cell;
  background-color: white;
}

.tr {
  display: table-row;
}
