body {
  padding: 0;
  margin: 0;
}
#cabecalho {
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(37, 37, 42);
}

#title {
  text-align: center;
  color: white;
}

.color {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
#pixel-boar {
  width: 200px;
}
.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.section {
  margin-left: 10px;
}

.botão {
  padding: 3px;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 3px;
  text-align: center;
  background-color: rgb(141, 141, 158);
  width: 80px;
  height: 25px;
  border-radius: 4px;
}

.botão:hover {
  background-color: rgb(29, 27, 27);
  color: aliceblue;
  padding: 3px;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 3px;
  text-align: center;
  width: 80px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}